<section class="landingPage">
    <div class="nevbarFix" [ngClass]="{'scrolled': isScrolled}">
        <app-navitem></app-navitem>
    </div>
    <!-- header page -->
    <div class="Getconnect">
        <div class="row" style="width: 100%;">
            <div class="col-md-6">
                <div class="Getconnect-text">
                    <h1>Free Business Card Maker.</h1>
                    <p> Make free business cards online in minutes.
                    <form class="emailButton">
                        <input class="form-control me-2" style="width: 50%;" type="text" placeholder="Your Email Here">
                        <button class="btn btn-outline-success" type="submit">Take free trial</button>
                    </form>
                    <!-- <p>*We will give a trial download link to your mail address</p> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="mokaupImg">
                    <!-- <img src="../assets/image/mokaup.png" alt=""> -->
                </div>
            </div>
        </div>
    </div>


</section>

<!-- featured section -->

<section class="featured-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- content-column -->
            <div class="content-column col-lg-5">
                <div class="iner-column">
                    <div class="topapp-sec-title">
                        <div class="title">
                            <!-- <span>Fe</span> -->
                            Features
                        </div>
                        <h2>
                            Learn the features of new Beautiful lifestyle app!
                        </h2>
                    </div>
                    <div class="text">
                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry. Lorem Ipsum has
                            been the industrys stan dard dummy text ever since the 1500s. <br>
                            The passage is attributed to an unknown typesetter in the 15th century who is thought to
                            have scrambled parts.
                        </p>
                    </div>
                    <!-- <ul class="list-style-one">
                        <li>Identfy the most trending sessions & exibitors.</li>
                        <li>24 hours customer supports facilites.</li>
                        <li>Take action to improve your event value.</li>
                    </ul> -->
                    <button class="btn-style-three">Contact Us</button>
                </div>
            </div>
            <!-- Blocks-Column -->
            <div class="blocks-column col-lg-7">
                <div class="inner-column">
                    <!-- Cloud-Icon -->
                    <div class="cloud-icon">
                        <img src="../assets/image/cloud-icon.png" alt="Cloud">
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="feature_icon">
                                        <!-- <i class="appilo flaticon-writing "></i> -->
                                        <img class="icon" src="../assets/clipboard.svg" alt="">
                                    </span>
                                </div>
                                <h3>Easy to edit</h3>
                                <div class="text">
                                    Save time and edit like a pro! Yes! you will be able to edit your application on the
                                    easy way.
                                </div>
                            </div>
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="feature_icon">
                                        <!-- <i class="appilo flaticon-writing "></i> -->
                                        <img class="icon" src="../assets/clipboard.svg" alt="">
                                    </span>
                                </div>
                                <h3>Easy to edit</h3>
                                <div class="text">
                                    Save time and edit like a pro! Yes! you will be able to edit your application on the
                                    easy way.
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="feature_icon">
                                        <!-- <i class="appilo flaticon-writing "></i> -->
                                        <img class="icon" src="../assets/clipboard.svg" alt="">
                                    </span>
                                </div>
                                <h3>Easy to edit</h3>
                                <div class="text">
                                    Save time and edit like a pro! Yes! you will be able to edit your application on the
                                    easy way.
                                </div>
                            </div>
                            <div class="inner-box">
                                <div class="icon-box">
                                    <span class="feature_icon">
                                        <!-- <i class="appilo flaticon-writing "></i> -->
                                        <img class="icon" src="../assets/clipboard.svg" alt="">
                                    </span>
                                </div>
                                <h3>Easy to edit</h3>
                                <div class="text">
                                    Save time and edit like a pro! Yes! you will be able to edit your application on the
                                    easy way.
                                </div>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</section>
