<section class="landingPage">
    <div class="nevbarFix" [ngClass]="{'scrolled': isScrolled}">
        <app-navitem></app-navitem>
    </div>
    <!-- header page -->
    <div class="Getconnect">
        <div class="row" style="width: 100%;">
            <div class="col-md-6">
                <div class="Getconnect-text">
                    <h1>Free Business Card Maker.</h1>
                    <p> Make free business cards online in minutes.
                    <form class="emailButton">
                        <input class="form-control me-2" style="width: 50%;" type="text" placeholder="Your Email Here">
                        <button class="btn btn-outline-success" type="submit">Take free trial</button>
                    </form>
                    <!-- <p>*We will give a trial download link to your mail address</p> -->
                </div>
            </div>
            <div class="col-md-6">
                <div class="mokaupImg">
                    <!-- <img src="../assets/image/mokaup.png" alt=""> -->
                </div>
            </div>
        </div>
    </div>
</section>


<!-- END -->

<!-- vCard Templates -->

<section class="featured-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- content-column -->
            <div class="content-column col-lg-5">
                <div class="iner-column">
                    <div class="topapp-sec-title">
                        <!-- <div class="title">
                            vCard
                        </div> -->
                        <h2>
                            vCard Templates
                        </h2>
                    </div>
                    <div class="text">
                        <div class="check-icon">
                            <i class="bi bi-check-lg"></i>
                        </div>
                        <div class="chekc-text">
                            <span>Gym vCard.</span>
                        </div>
                    </div>
                    <div class="text">
                        <div class="check-icon">
                            <i class="bi bi-check-lg"></i>
                        </div>
                        <div class="chekc-text">
                            <span>Hospital vCard.</span>
                        </div>
                    </div>
                    <div class="text">
                        <div class="check-icon">
                            <i class="bi bi-check-lg"></i>
                        </div>
                        <div class="chekc-text">
                            <span>Lawyer vCard.</span>
                        </div>
                    </div>
                    <div class="text">
                        <div class="check-icon">
                            <i class="bi bi-check-lg"></i>
                        </div>
                        <div class="chekc-text">
                            <span>Programmer vCard.</span>
                        </div>
                    </div>
                    <button class="btn-style-three">View More</button>
                </div>
            </div>
            <!-- Blocks-Column -->
            <div class="blocks-column col-lg-7">
                <div class="inner-column">
                    <!-- Cloud-Icon -->
                    <div class="cloud-icon">
                        <img class="cloud-img" src="../assets/image/cloud-icon.png" alt="Cloud">
                    </div>
                    <!-- Card -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="inner-box">
                                <div class="image-container">
                                    <img class="image" src="../assets/image/vcard12.webp" alt="Sample Image">
                                </div>
                            </div>
                            <div class="inner-box">
                                <div class="image-container">
                                    <img class="image" src="../assets/image/vcard13.webp" alt="Sample Image">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inner-box">
                                <div class="image-container">
                                    <img class="image" src="../assets/image/vcard16.webp" alt="Sample Image">
                                </div>
                            </div>
                            <div class="inner-box">
                                <div class="image-container">
                                    <img class="image" src="../assets/image/vcard17.webp" alt="Sample Image">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!-- END -->


<!-- features-section -->

<section class="features">
    <div class="container">
        <div class="heading">
            <h2>Features</h2>
        </div>
        <!-- feature-slider -->
        <div class="row">
            <div class="row">
            <div class="card col-lg-3">
                <img src="../assets/image/client.webp" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Click On Call</h5>
                    <p class="card-text">Your client can reach you by just tap on phone number and contact you for any
                        query.
                    </p>
                </div>
            </div>
            <div class="card col-lg-3">
                <img src="../assets/image/research.webp" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Various Range of Templates</h5>
                    <p class="card-text">You Can select various templates for your VCards and share to your clients.
                    </p>
                </div>
            </div>
            <div class="card col-lg-3">
                <img src="../assets/image/share.webp" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Share your VCards</h5>
                    <p class="card-text">Share Your Business Information with your prospects directly via SMS, Email or
                        any other
                        ways.
                    </p>
                </div>
            </div>
            <div class="card col-lg-3">
                <img src="../assets/image/social-media.webp" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Social Media Links</h5>
                    <p class="card-text">Your Client can follow you on social media account. You can also inc areas your
                        bussiness
                        by sharing your social link.
                    </p>
                </div>
            </div>
            <div class="card col-lg-3">
                <img src="../assets/image/best-price.webp" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Pricing And Plans</h5>
                    <p class="card-text">We provide various plan from which you can choose plan according to your
                        requirement.
                    </p>
                </div>
            </div>
            <div class="card col-lg-3">
                <img src="../assets/image/qr-code.webp" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Scan QR Code</h5>
                    <p class="card-text">By scanning Your QR Code, your client can see your details and also then can
                        share your
                        QR Code to others.
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>
</section>