
.container{
    max-width: 1100px;
    padding: 10px 0;
}
.download{
    background-image: linear-gradient(to right, #0084fd 0, #6cd8ff 100%);
    border: none;
    padding: 10px;
    font-weight: 700;
}
.navbar-nav{
    font-size: 20px;
    font-weight: 500;
}
a{
    color: white;
}
.logo{
    color: white;
}

@media(max-width: 991px){
    .sidebar{
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: 10px;
    }
}